.team_introduce{
    margin-top: 30px;
}
.team{
    overflow: hidden;
    margin-bottom: 10px;
}
.team_introduce h3{
    margin-top: 30px;
    margin-left: 140px;
}
.team_introduce p{
    margin-top: 40px;
    line-height: 30px;
    font-size: 20px;
    text-indent: 2em;
}
.team_img:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.5s;
}

.team_img{
    border-radius: 50%;
}
